<div class="hero-background">
    <div>
        <img class="strips" src="assets/images/strips.png">
    </div>
    <div class="container">
      <h1 class="header-headline light"></h1>
   
        <div class="header-container header">
           <h1 class="whitetext bold" style="text-align:center;">WELCOME TO TURNTABL TWITTER ANALYSIS APP </h1>
          
        <style>
.whitetext {
	color: #FFFFFF;
  
}
</style>
<div class="container">
  <h4 class="text-center font-weight-bold">
    Your Leading Analysis Web App
  </h4>
  

  

<!-- Hero-Section
          ================================================== -->

        <div class="hero row">
            <div class="hero-right col-sm-6 col-sm-6">
                <h1 class="header-headline light"> Beautiful Free tweet analysis <br></h1>
          
                
                <a routerLink="/ptweet">
                    <button class="hero-btn"> Most Prolific tweeters!</button>
                </a>
              <br>
                <a routerLink="/retweet">
                    <button class="btn hero-btn"> Most Retweeters!</button>
                </a>
                <br>
                <a routerLink="/timeline">
                    <button class="hero-btn"> Timeline!</button>
                </a>
            </div><!--hero-left-->

            <div class="col-sm-6 col-sm-6 ipad">
                <img class="ipad-screen img-responsive" src="assets/images/screen.png"/>
            </div>

        </div><!--hero-->

    </div> <!--hero-container-->

</div><!--hero-background-->
    <!-- group buttons end -->
    <!-- image -->
    
    <!-- end -->
  </div>
</div>
